@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900');

*{
    font-family: 'Nunito Sans', sans-serif;

}
body {
    margin: 0;
    background: #000;
    /*cursor: none !important;*/
}
body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
div:focus {
    outline: 0px solid transparent !important;
}
button:focus {
    outline: 0px solid transparent !important;
}
/* INDEX */
#video-home{
    z-index: 1;
}

.gradient-home{
    object-fit: contain;
    mix-blend-mode: color-burn;
    background-image: url(../img/gradient-home.svg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 778px;
    left: 0;
    top: 0;
    z-index: 2;
}

.animation-home{
    transition: 0.4s;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    left: 0;
    top:0;
    z-index: 999;
}
@keyframes logo-index {
    0% {transform: translateX(-50px);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
}
.logo-index{
    width: 187px;
    height: 101px;
    position: absolute;
    left: 50%;
    margin-left: -94px;
    top:25%;
    animation-name: logo-index;
    animation-duration: 0.7s;
    transition-timing-function: ease-in-out;
    transform: translateX(0);
    opacity: 1;
    z-index: 3;
    display: block;
}
.logo-station{
    width: 1180px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -590px;
    margin-top: -64px;
    z-index: 3;
    display: block;


}
@keyframes lab {
    0% {transform: translateY(-50px);opacity: 0;}
    70% {transform: translateY(-50px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
.lab-logo-station{
    width: 820px;
    height: 128px;
    float: left;
    background-color: rgb(83, 44, 126);
    font-size: 103px;
    font-weight: 800;
    letter-spacing: 4.2px;
    color: rgb(255, 255, 255);
    line-height: 128px;
    text-align: center;
    animation-name: lab;
    animation-duration: 1.6s;
    transition-timing-function: ease-in-out;
    transform: translateY(0);
    opacity: 1;
    z-index: 3;
    display: block;

}
@keyframes tour {
    0% {transform: translateY(50px);opacity: 0;}
    70% {transform: translateY(50px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
.tour-logo-station{
    width: 360px;
    height: 128px;
    float: right;
    background-color: rgb(255, 255, 255);
    font-size: 103px;
    letter-spacing: 4.2px;
    text-align: left;
    color: rgb(83, 44, 126);
    line-height: 128px;
    text-align: center;
    animation-name: tour;
    animation-duration: 1.6s;
    transition-timing-function: ease-in-out;
    transform: translateY(0);
    opacity: 1;
    display: block;

}
.tour-logo-station::before{
    content: "";
    background-image: url("../img/play-icon-logo.svg");
    width: 24px;
    height: 29px;
    background-repeat: no-repeat;
    position: absolute;
    left: 123px;
    top: 48px;
}
@keyframes btn-index {
    0% {transform: translateY(-50px);opacity: 0;}
    80% {transform: translateY(-50px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
.btn-index{
    width: 516px;
    height: 95px;
    background-color: rgb(255, 255, 255);
    border: solid 6px rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    margin-left: -258px;
    bottom: 25%;
    text-align: left;
    animation-name: btn-index;
    animation-duration: 2.0s;
    transition-timing-function: ease-in-out;
    transform: translateY(0);
    opacity: 1;
    z-index: 3;
    display: block;

}
.img-btn-index{
    width: 72px;
    height: 100%;
    background-color: rgb(83, 44, 126);
    position: absolute;
    float: left;
    padding: 15px;
    left: 0;
    top:0;
}
.btn-index p{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-align: left;
    color: rgb(83, 44, 126);
    line-height: 83px;
    padding-left: 100px;
}


/* INTRO */

.intro-progress{
    width: 100% !important;
    left: 0 !important;
}







video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}


.btn-start{
    position: absolute;
    width: 200px;
    height: 50px;
    border:none;
    border-radius: 50px !important;
    bottom: 10%;
    left: 50%;
    margin-left: -100px;
}
.close {
    font-size: 4.5rem !important;
}
.video-still{
    height: 1080px;
    width: 25%;
    float: left;
    display: inline;
    background-size: cover;
    position: relative;
}
.video-still-01{
    background-image: url("../img/video01still.jpg");
}
.video-still-02{
    background-image: url("../img/video02still.jpg");
}
.video-still-03{
    background-image: url("../img/video03still.jpg");
}
.video-still-04{
    background-image: url("../img/video04still.jpg");
}

.bumper-container{
    position: absolute;
    width: 470px;
    right: 0;
    display: inline-block;
    height: 110px;
    top: 70%;
    z-index: 1;

}
/* Violet Mask Animation */
@keyframes mask {
    0% {transform: scaleX(0);transform-origin:right top;opacity: 1;}
    50% {transform: scaleX(0.5);opacity: 1;}
    100% {transform: scaleX(0.03);transform-origin:left top; opacity: 1;}
}
.technique-mask{
    height: 80px;
    background-color: rgb(83, 44, 126);
    animation-name: mask;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
    position: relative;
    left: 0;
    top:0;
    opacity: 1;
    transform: scaleX(0.03);
    transform-origin:left top;
}

@keyframes technique-bg {
    0% {background-color: rgba(255,255,255,0);}
    100% {background-color: rgba(255,255,255,1);}
}

/* The element to apply the animation to */
.video-still-technique{
    background-color: rgba(255,255,255,1);
    width: 90%;
    float:right;
    height: 80px;
    animation-name: technique-bg;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
}


@keyframes technique-text {
    0% {top:50px;opacity: 0;}
    50% {top:25px;opacity: 0;}
    100% {top:0px;opacity: 1;}
}
.video-still-technique p{
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1.3px;
    text-align: center;
    color: rgb(83, 44, 126);
    line-height: 80px;
    top: 0;
    width: 90%;
    position: absolute;
    animation-name: technique-text;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    text-transform: uppercase;
}

@keyframes name-anim {
    0% {transform: translateY(180px); opacity: 0;}
    50% {transform: translateY(45px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

.video-still-name{
    position: absolute;
    width: 60%;
    height: 40px;
    bottom: 0;
    background-color: rgb(83, 44, 126);
    top: 70px;
    line-height: 40px;
    right: 0;
    animation-name: name-anim;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}
.video-still-name p{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.9px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 40px;
    text-transform: uppercase;

}
.video-still-gradient{
    opacity: 0.57;
    mix-blend-mode: multiply;
    background-image: linear-gradient(1deg, rgb(43, 31, 160), rgb(125, 72, 189) 47%, rgb(200, 109, 215));
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.coming-next{
    width: 1080px;
    height: 340px;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -540px;
    margin-top: -170px;
    background-color: #2c3e50;
    color: white;
    display: none;
    transition: 0.4s;
}
.coming-next-image{
    width: 340px;
    height: 340px;
    position: relative;
    float: left;
    line-height: 340px;
    text-align: center;
}
.coming-next-image img{
    position: absolute;
    left: 0;
    top:0;
}
.next-play-button {
    z-index: 9;
    width: 50px !important;
    top: 50% !important;
    margin-top: -25px;
    left: 50% !important;
    margin-left: -25px;
}
.coming-next-copy-container{
    width: 740px;
    height: 340px;
    position: relative;
    float: left;
    background-color: white;
    padding-left: 45px;
    padding-top: 30px;
}
.coming-next-title{
    font-size: 65px;
    font-weight: 800;
    text-align: left;
    color: rgb(83, 44, 126);
    line-height: 30px;
    margin-top: 60px;
}
.coming-next-copy{
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    color: rgb(41, 41, 41);
}
.tap-next{
    width: 587px;
    height: 134px;
    background-color: rgb(83, 44, 126);
    position: absolute;
    right: 0;
    bottom: -80px;
    line-height: 134px;
}
.tap-next span{
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    color: rgb(255, 255, 255);
}
.tap-next img{
    margin-left: 45px;
    margin-right: 45px;
    margin-top: -15px;
}
@keyframes video-controls {
    0%{transform: translateY(68px);}
    100%{transform: translateY(0px);}
}
#video-controls{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px !important;
    animation-name: video-controls;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
}
#video-controls p{
    position: absolute;
    top: 0;
    left: 120px;
    width: 100%;
    height: 68px;
    line-height: 68px;
    color:white;
    z-index: 9;
    font-size: 22px;
}

.intro-p{
    left: 40px !important;
}

#close-video{
    width: 4%;
    height: 68px;
    padding: 10px;
    position: absolute;
    right: 0;
    top:0;
    background-color: rgb(41, 41, 41);
    border: none;
    z-index: 99;
}
#reload-video{
    width: 4%;
    height: 68px;
    position: absolute;
    padding: 10px;
    left: 0;
    top:0;
    background-color: rgb(83, 44, 126);
    border: none;
    border-right: 1px solid white;
}
#progress{
    top:0;
    left: 4%;
    height: 68px;
    position: absolute;
    width: 92%;
}
#progress-bar{
    left: 68px;
    height: 68px;
    position: absolute;
}

/* PROGRESS BAR TEST*/

progress[value] {
    border:0px solid #52247f;
    transition: all 0.5s linear;

}
progress::-webkit-progress-bar { background: #fff; }
progress::-webkit-progress-value {
    background: #52247f;
    transition: all 0.5s linear;


}

/* ANIMATIONS */
